body, html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #212121;

    ul li{
        display: inline-block;

        a{
            color: rgba(255, 255, 255, 0.45);
            font-size: 0.875rem;
            display: block;
            text-decoration: none;
            padding: 6px 15px;

            &:hover{
                color: #fff;
            }
        }
    }
}

section{
    height: 100%;
    width: 100%;
    display: table;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);

    h1{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-weight: lighter;
    }
}

#sectionOne{
    background-color: yellow;
}

#sectionTwo{
    background-color: red;
}

#sectionThree{
    background-color: gray;
}


//Smooth Scroll
a[id="sectionOne"]:target ~ #sectionOne{
    -webkit-transform: translate3d(0, 0, 0);
    transform: tranlate3d(0, 0, 0);
}

a[id="sectionTwo"]:target ~ #sectionTwo{
    -webkit-transform: translate3d(0, -100%, 0);
    transform: tranlate3d(0, -100%, 0);
}

a[id="sectionThree"]:target ~ #sectionThree{
    -webkit-transform: translate3d(0, -200%, 0);
    transform: tranlate3d(0, -200%, 0);
}